<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.stj.alarmclock"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 解锁的权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 亮屏的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cn.stj.alarmclock.activity.AlarmSettingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="cn.stj.action.START_ALARMCLOCK" />
            </intent-filter>
        </activity>

        <!-- 闹钟来了提示界面 -->
        <activity
            android:name="cn.stj.alarmclock.activity.AlarmComingActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:excludeFromRecents="true"
            android:label="@string/alarm"
            android:launchMode="singleTask" 
            android:taskAffinity=":AlarmAlert">
        </activity>
        <!-- 闹钟接收 -->
        <receiver
            android:name="cn.stj.alarmclock.broadcastreceiver.AlarmReceiver"
            android:process=":remote" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_CALL" />
                <action android:name="android.intent.action.SMS" />
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.ANSWER" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <!-- 开机接收 -->
        <receiver android:name="cn.stj.alarmclock.broadcastreceiver.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- 闹钟响铃服务 -->
        <service
            android:name="cn.stj.alarmclock.service.AlarmService"
            android:exported="false" >
        </service>
    </application>

</manifest>